<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Travlr Getaways Website Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			{{>header}}
			<div id="contents">
				<div id="adbox">
					{{#each home_data}}
					<img src="images/{{home_image}}" alt="Img">
					<h1>{{description_title}}</h1>
					{{{description}}}
					{{/each}}
				</div>
				<div id="main">
					<div class="box">
						<div>
							<div>
								<h3>Latest Blog</h3>
								
								<ul>
									{{#each home_data}}
										{{#each this.blog}}
									<li>
										<h4><a href="news">{{{this.blog_title}}}</a></h4>
										<span>{{{this.blog_date}}}</span>
										{{{this.blog_description}}}
									</li>
										{{/each}}
									
								</ul>
							</div>
						</div>
					</div>
					<div id="testimonials" class="box">
						<div>
							<div>
								<h3>Testimonials</h3>
								{{{this.testimonials}}}
							</div>
							
						</div>
					</div>
				</div>
				<div id="sidebar">
					<div class="section">
						<a href="rooms"><img src="images/{{room_image}}" alt="Img"></a>
					</div>
					<div class="section">
						<a href="travel"><img src="images/{{dive_image}}" alt="Img"></a>
					</div>
					<div class="section">
						<a href="meals"><img src="images/{{food_image}}" alt="Img"></a>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
		{{>footer}}
	</div>
</body>
</html>